* {
	margin: 0;
	padding: 0;	
}

#main {
	margin: 20px;	
}

.cell {
	width: 10px;
	height: 10px;
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	display: inline-block;
	float: left;
}

.cell.black {
	background-color: blueviolet;
}

.top-cell {
	border-top: 1px solid #dcdcdc;
}

.left-cell {
	border-left: 1px solid #dcdcdc;
}

.clear {
	clear: both;
}
#holder {
	margin :0 auto;
	display:inline-block;
	width: 100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
#generationId {
	background-color: burlywood;
	font-weight: bold;
	text-decoration-color: blue;
}

.second {
	margin-left: 585px;
}

.myhead {
	font-weight: bold;
	text-decoration: underline;
	text-underline: gray;
}
.mybutton {
	font-weight: bold;
	color: white;
	background-color: blueviolet;
	text-transform: capitalize;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}